body {
	color: white;
	font-family: sans-serif;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
}

#main_container {
	width: min(80%, 600px);
}

#in {
	background: #ccc;
	border: 2px inset gray;
	padding: 5px;
	color: black;
}

#in, .outputs {
	width: 100%;
}

.out {
	text-align: center;
}

.out span {
	margin-top: 10px;
}

span {
	background-repeat: no-repeat;
	display: inline-block;
	/* width: var(--u); */
	/* height: var(--u); */
	color: transparent;
}

a {
	color: inherit;
}

.w16 {
	width: 16px;
}

.h16 {
	height: 16px;
}

.w32 {
	width: 32px;
}

.h32 {
	height: 32px;
}


